{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "airbnb-base",
    "plugin:jest-dom/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  }
}
